.App {
  text-align: center;
  max-width: 100vw !important;
  margin: 0 auto !important;
}

.headerLogo {
  height: 40vmin;
  width: 100%;
  pointer-events: none;
}

.loggedInHeader {
  display: flex;
}

.loggedInHeader > img,
.loggedInHeader > p, 
.loggedInHeader > button {
  display: inline;
}

.loggedInHeader > img {
  justify-content: left;
}

.loggedInHeader > p,
.loggedInHeader > button {
  text-align: right;
}

.mainCards {
  display: flex;
  justify-content: center;
}

.mainCards > .cardA,
.mainCards > .cardB,
.mainCards > .cardC {
  margin: 4px;
  border: solid orange;
  border-radius: 7px;
  inline-size: 400px;
}

.months {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 20px 20px;
  margin: 0 auto;
  justify-content: center;
}

.monthCards,
.lists > .billsCard,
.lists > .wishCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 7px;
  border: solid orange;
  height: 400px;
  max-width: 300px;
  background-color: white;
}

.monthCards > Link {
  background-size: cover;
}

.monthCards,
.lists:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.lists > .billsCard,
.lists > .wishCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.footer {
  display: grid;
  justify-content: center;
}