.App {
  text-align: center;
  max-width: 100vw !important;
  margin: 0 auto !important;
}

.headerLogo {
  height: 40vmin;
  width: 100%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.months {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 20px 20px;
  margin: 0 auto;
  justify-content: center;
}

.monthCards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 7px;
  border: solid black;
  height: 400px;
  max-width: 300px;
  background-color: white;
}

.monthCards > Link {
  background-size: cover;
}

.monthCards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}